*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto Mono", monospace;
}

:root {
  --color-salmon: #ed6a5a;
  --color-dark: #3d3d3d;
  --color-neutralWhite: #e6e6e6;
  --color-salmonWhite: #fbdeda;
  /* --color-neutralWhite: #c5c5c5; */
  --color-neutral: #858585;
}

.txtSalmon {
  color: var(--color-salmon);
}
.txtDark {
  color: var(--color-dark);
}
.bgSalmon {
  background-color: var(--color-salmonWhite);
}
.bgNeutral{
  background-color: var(--color-neutralWhite);
}

.txtBold { font-weight: 700; }

.fRow{
  display: flex;
  flex-direction: row;
}
.fColumn{
  display: flex;
  flex-direction: column;
}

