:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-height: 100vh;
}

body {
  height: 100%;
}

#app {
  width: 100%;
  min-height: 100vh;

  background-color: rgb(87, 0, 0);

  display: grid;
  grid:
    "sidebar header header" 200px
    "sidebar body body" 100%
    "sidebar body body" 1fr
    / 150px 1fr 1fr;
}

.sidebar { 
  grid-area: sidebar;
  background-color: orange; 
}
.header { grid-area: header; }
.body { grid-area: body; }

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
